@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 230 35% 7%;
    --foreground: 210 40% 98%;

    --card: 230 35% 10%;
    --card-foreground: 210 40% 98%;

    --popover: 230 35% 10%;
    --popover-foreground: 210 40% 98%;

    --primary: 221 83% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 199 80% 45%;
    --secondary-foreground: 0 0% 100%;

    --muted: 230 20% 18%;
    --muted-foreground: 210 20% 70%;

    --accent: 199 80% 45%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 230 28% 20%;
    --input: 230 28% 20%;
    --ring: 221 83% 53%;

    --radius: 0.5rem;

    --gold: 221 83% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

